.header {
    font-size: 18px;
    height: 90px;
    width: 100%;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 1px;
    justify-content: space-between;
    background-color: #ffe7cc;
    font-family: 'DINRoundPro';
    padding: 0px;
    margin: 0px;
    font-weight: 550;
    color: black;
}

.inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: black;
    text-decoration: none;
    &:hover {
        color: #ffcba4;
    }
}

.logo {
    height: 85px;
    width: 105.42px;
}
.ilogin {
    margin-right: 5px;
}
.actions {
    &:hover {
        color: #ffcba4;
    }
}
