.header {
    font-size: 18px;
    height: 110px;
    width: 100%;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    font-family: 'DINRoundPro';
    font-weight: 550;
    color: rgb(214, 214, 214);
}
.inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 85px;
    width: 105.42px;
    margin: 0 0 0 22px;
    animation-name: slideInDown;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

a {
    color: rgb(214, 214, 214);
    text-decoration: none;
    &:hover {
        color: #f4f3ee;
    }
}
.Game,
.Pro,
.Courses {
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.Game {
    animation-name: slideInDown;
    animation-delay: 1.2s;
}

.Pro {
    animation-name: slideInDown;
    animation-delay: 1.2s;
}

.Courses {
    animation-name: slideInDown;
    animation-delay: 1.2s;
}

.ilogin {
    margin-right: 5px;
}
.actions {
    &:hover {
        color: #ffa51d;
    }
    opacity: 0;
    animation-name: slideInDown;
    animation-duration: 1s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
}
.modal-header {
    padding: 2px 16px;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Content */
.auth-modal {
    position: fixed;
    margin: 0;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }
}

/* Add Animation */
@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
