.gameWA-container {
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 681px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.WA-row {
    display: flex;
    justify-content: space-between;
}

.WA-scoreboard {
    padding: 50px 0;
}
.WA-button-navi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.WABox {
    margin-top: 80px;
}
.questions-box {
    display: flex;
    justify-content: center;
    padding: 100px 250px;
    margin-bottom: 100px;
    background-color: #646f90;
    white-space: nowrap;
    color: white;
    border-radius: 10px;
    border: 3px solid blue;
}
.option {
    border: 0.125rem solid #646f90;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex; /* thêm dòng này /
    justify-content: center; / thêm dòng này /
    align-items: center; / thêm dòng này */
    font-size: 1rem;
    font-weight: 400;
    height: 80px;
    letter-spacing: normal;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #646f90;
    color: white;
    &:hover {
        background-color: gray;
        color: white;
    }
}
.option:disabled {
    background-color: rgb(121, 121, 121);
    color: rgb(136, 134, 134);
}

.options-box {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}
.navigation-button {
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
}
.navi-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}