.WAintro-container {
    background-image: url(../../../assets/images/WA.jpg);
    height: 691px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro {
    text-align: justify;
    line-height: 30px;
    margin-left: 40px;
    padding: 15px;
    font-size: 20px;
    width: 90%;
    font-weight: 500;
}
