.cardtitle{
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.description{
    height: 5rem;
    text-align: left;
    font-size: 1rem;
    color: #000;
    margin-bottom: 0.5rem;
}
.payment{
    text-align: center;
    font-size: 1.25rem;
    color: green;
    margin-bottom: 0.5rem;
}
.card{
    margin-top: 1rem;
}