body {
  text-align: right;
  background-image: url(../../assets/images/login.jpg);

  background-color: #fffbe9;
}
.logo {
  width: 50%;
  margin: 45px 0;
}
.logo-img {
  text-align: center;
}

form {
  box-sizing: border-box;
  margin: 80px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  border-radius: 20px;
  background-color: var(--primary);
  width: 27%;
  display: inline-block;
  padding: 20px 30px;
}

label {
  font-weight: 400;
}
.submit-login {
  text-align: center;
  padding: 20px 30px;
}
.box2 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.forgot {
  margin-left: 50px;
}
