@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,500;1,600&display=swap');

* {
    // font-family: 'DINRoundPro';
    font-family: 'Poppins', sans-serif;
}

.introduce {
    display: flex;
    justify-content: justify;
    align-items: center;
    // background-color: #8e2de2;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    padding-top: 50px;
    box-shadow: rgb(0 0 0 / 30%) 1px 1px 1px 1px;
    color: rgb(255, 255, 255);
}

.introduce-title {
    font-size: 55px;
    margin-bottom: 40px;
    margin-left: 45px;
    justify-content: justify;
}
.d {
    text-align: center;
}
.abc {
    color: #ffa928;
}

.para {
    text-align: justify;
    line-height: 30px;
    margin-left: 30px;
    padding: 15px;
    font-size: 20px;
    width: 90%;
}

.Idiots {
    width: 130%;
    height: 120%;
}
.Explore {
    font-size: 20px;
    border-radius: 20px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #ffae00;
    padding: 25px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'DINRoundPro';
    font-weight: 700;
    line-height: 22px;
    min-width: 100px;
}
.content2 {
    background-color: white;
    margin-top: 20px;
}

.content3 {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
.textTitle {
    margin-top: -50px;
    color: rgb(82, 63, 63);
}
.box {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #fcefef;
    width: 408.75px;
    height: 320px;
    padding: 30px 15px 5px 15px;
    box-shadow: rgb(0 0 0 / 30%) 1px 1px 1px 1px;
    .box-content {
        font-size: 20px;
        text-align: left;
    }
    .box-card {
        display: flex;
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
    }
}

hr {
    margin: 30px 0px;
    margin-left: auto;
    margin-right: auto;
    size: 3;
    height: 2;
    width: 80%;
}
