* {
    font-family: 'DINRoundPro';
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h1 {
    font-size: 40px;
    text-align: center;
    line-height: auto;
}
.d {
    text-align: center;
}
.abc {
    color: #f78342;
}

.para {
    margin-left: 100px;
    text-align: justify;
    line-height: 30px;
    width: 80%;
}

.Idiots {
    width: 100%;
    height: 100%;
}
.Explore {
    font-size: 16px;
    border-radius: 20px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 20px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'DINRoundPro';
    font-weight: 700;
    line-height: 22px;
    min-width: 100px;
}
