

  .fill-in-the-blank-intro {
    justify-content: justify;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    width: 70%;
  }
  
  .animate-p {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards ;
  }
  
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }
  button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .gname{
    margin-top: 330px;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
.play{
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards ;
  padding: 15px 24px;
  margin-top: 20px;
  font-size: 20px;  
  border-radius: 20px;
  background-color: #463f3a;
  transition: width 2s;
}
   .play:hover {
      background-color: rgb(41, 81, 114);
      width: 210px;
      
  }

  .back{
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards ;
    padding: 15px 24px;
    margin-top: 20px;
    font-size: 20px;  
    border-radius: 20px;
    background-color: #463f3a;
    transition: width 2s;
    
  }
     .back:hover {
        background-color: rgb(41, 81, 114);
        width: 170px;
        
    }
  