.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 4096px;
    background-color: #fffbe9;
}

.container {
    display: flex;
    flex-direction: row;
}

.content {
    flex: 1;
}
