.specialty-slide-container {
    height: 450px;
    background: white;
    max-width: 100%;
    margin: 0;
    text-align: center;
}
.slide-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    height: 500px;
}
.card {
    width: 268px;
    height: 384px;
    text-align: center;
    color: black;
    &:hover {
        box-shadow: 4px 5px 10px 8px #f0f2f3;
        outline: none;
    }
}
.cardimg {
    height: 200px;
}
.cardbody {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.course-detail {
    color: rgb(214, 214, 214);
    text-decoration: none;
    &:hover {
        color: #f4f3ee;
    }
}
